@charset "utf-8";

body{
    background-color: #f6f6f6;
//导航栏
.nav{
    width: 100%;
    background: #f9f9f9;
    .nav-container{
        overflow: hidden;
        width: 1200px;
        height: 36px;
        margin: 0 auto;
        font-size: 11px;
        font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
        // background: yellow;
        .left{
            float: left;
            li{
                float: left;
                line-height: 36px;
                // padding-left: 7px;
                padding-right: 7px;
                a{
                    color: #a4a4a4;
                    // display: block;
                    &:hover{
                        color: #cb141c;
                    }
                   i{
                       margin-left: 3px;
                       font-size: 11px;
                       font-weight: 600;
                   }
                }
            }
            .more-splendid{
                cursor: pointer;
                padding: 0 10px 0 15px;
                &:hover{
                    background: white;
                    a{
                        color: #cb141c;
                    }
                }
            }
            span{
                line-height: 36px;
                float: left;
                padding-right: 7px;
                color: #a4a4a4;
            }
            //更多精彩
            
        }



        .right{
            float: right;
            li{
                float: left;
                line-height: 36px;
                padding-right: 7px;
                a{
                    color: #a4a4a4;
                    &:hover{
                        color: #cb141c;
                    }
                    i{
                        margin: 0 0px 0 3px;
                        font-size: 11px;
                    }
                }
                .login{
                    margin-right: 8px;
                }
                .phone-version{
                    i{
                        margin-right: 5px;
                    }
                }
            }
            .cus-ser{
                cursor: pointer;
                padding: 0 7px 0 10px;
                &:hover{
                    background: white;
                    a{
                        color: #cb141c;
                    }
                }
            }
            .web-nav{
                cursor: pointer;
                padding: 0 7px 0 10px;
                &:hover{
                    background: white;
                    a{
                        color: #cb141c;
                    }
                }
            }
            .phone-ver{
                cursor: pointer;
                padding: 0 7px 0 10px;
                &:hover{
                    background: white;
                    a{
                        color: #cb141c;
                    }
                }
            }
            .shop-Cart{
                cursor: pointer;
                padding: 0 10px 0 5px;
                background: #f1f1f1;
                &:hover{
                    background: white;
                    a{
                        color: #cb141c;
                    }
                }
                .icon-gouwuche{
                    margin-right: 5px;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
            span{
                line-height: 36px;
                float: left;
                padding-right: 7px;
                color: #a4a4a4;
            }
        }
    }
}

//导航各个模块
//更多精彩
.moreSplendid{
    position: absolute;
    display: none;
    width: 120px;
    background: yellow;
    // background: white;
    border-radius: 10px 0 10px 10px;
    font-size: 13px;
    ul{
        padding: 7px 0 7px 0;
        li{
            text-align: center;
            line-height: 34px;
        }
    }
}
//服务中心
.customerServer{
    position: absolute;
    display: none;
    width: 120px;
    background: yellow;
    // background: white;
    border-radius: 0px 0 10px 10px;
    font-size: 13px;
    ul{
        padding: 7px 0 7px 0;
        li{
            text-align: center;
            line-height: 34px;
        }
    }
}
//网站导航
.webNav{
    position: absolute;
    display: none;
    width: 845px;
    background: yellow;
    background: white;
    overflow: hidden;
    border-radius: 10px 0 10px 10px;
    .index{
        float: left;
        width: 145px;
        height: 145px;
        text-align: center;
        div{
            width: 52px;
            height: 52px;
            background: #f9f9f9;
            border-radius: 50%;
            text-align: center;
            margin: 47px auto 0;
            span{
                line-height: 52px;
                font-size: 30px;
                color: #b0b0b0;
            }
        }
        p{
            margin-top: 4px;
            font-size: 9px;
            color: #b0b0b0;
        }
    }
    .channel{
        float: left;
        width: 175px;
        // background: pink;
        font-size: 11px;
        h2{
            margin-top: 20px;
        }
        ul{
            li{
                float: left;
                margin-top: 15px;
                margin-right: 25px;
                a{
                    color: #b0b0b0;
                    &:hover{
                        color: #cb141c;
                    }
                }
            }
        }
    }
    .product{
        float: left;
        width: 175px;
        // background: skyblue;
        font-size: 11px;
        h2{
            margin-top: 20px;
        }
        ul{
            li{
                float: left;
                margin-top: 15px;
                margin-right: 25px;
                a{
                    color: #b0b0b0;
                    &:hover{
                        color: #cb141c;
                    }
                }
            }
        }
    }
    .val-add-ser{
        float: left;
        width: 175px;
        // background: red;
        font-size: 11px;
        h2{
            margin-top: 20px;
            margin-left: 20px;
        }
        ul{
            margin-left: 20px;
            li{
                float: left;
                margin-top: 15px;
                margin-right: 25px;
                a{
                    color: #b0b0b0;
                    &:hover{
                        color: #cb141c;
                    }
                }
            }
        }
    }
    .vip{
        float: left;
        width: 175px;
        // background: wheat;
        font-size: 11px;
        h2{
            margin-top: 20px;
            margin-left: 20px;
        }
        ul{
            margin-left: 20px;
            li{
                float: left;
                margin-top: 15px;
                margin-right: 25px;
                a{
                    color: #b0b0b0;
                    &:hover{
                        color: #cb141c;
                    }
                }
            }
        }
    }
}
//手机版
.phoneVer{
    position: absolute;
    display: none;
    width: 245px;
    height:396px;
    background: yellow;
    // background: white;
    border-radius: 10px 0 10px 10px;
    overflow: hidden;
    .APP{
        height: 132px;
        // background: pink;
        overflow: hidden;
        div{
            float: left;
            cursor: pointer;
            width: 92px;
            height: 92px;
            margin: 20px 0 0 20px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        aside{
            width: 123px;
            // height: 132px;
            float: left;
            margin: 20px 0 0 10px;
            h2{
                font-weight: 700;
                font-size: 14px;
            }
            p{
                font-size: 12px;
                margin: 5px 0 0 0 ;
                color: #cb141c;
            }
            ul{
                margin: 5px 0 0 0px ;
                li{ 
                    text-align: center;
                    line-height: 18px;
                    width: 24px;
                    float: left;
                    font-size: 20px;
                    color: #424242;
                    margin-right: 0px;
                    padding-right: 15px;
                    i{
                        font-size: 12px;
                    }
                }
            }
        }
    }
    .officeAccounts{
        height: 131px;
        // background: skyblue;
        overflow: hidden;
        border-top: 1px solid #b0b0b0;
        div{
            float: left;
            cursor: pointer;
            width: 92px;
            height: 92px;
            margin: 20px 0 0 20px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        aside{
            width: 123px;
            float: left;
            margin: 20px 0 0 10px;
            h2{
                font-weight: 700;
                font-size: 14px;
            }
            p{
                font-size: 12px;
                margin: 5px 0 0 0 ;
                color: #b0b0b0;
            }
            i{
                display: block;
                font-size: 20px;
                color:#424242;
                margin: 10px 0 0 0 ;
                line-height: 18px;
                i{
                    font-size: 12px;
                    line-height: 0;
                }
            }
        }
    }
    .miniProgram{
        height: 131px;
        // background: purple;
        overflow: hidden;
        border-top: 1px solid #b0b0b0;
        div{
            float: left;
            cursor: pointer;
            width: 92px;
            height: 92px;
            margin: 20px 0 0 20px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        aside{
            width: 123px;
            float: left;
            margin: 20px 0 0 10px;
            h2{
                font-weight: 700;
                font-size: 14px;
            }
            i{
                display: block;
                font-size: 20px;
                color:#424242;
                margin: 10px 0 0 0 ;
                line-height: 18px;
                i{
                    font-size: 12px;
                    line-height: 0;
                }
            }
        }
    }
}
//购物车
.shopCart{
    position: absolute;
    display: none;
    width: 503px;
    min-height: 230px;
    background: yellow;
    background: white;
    border-radius: 10px 0 10px 10px;
    overflow: hidden;
    text-align: center;
    div{
        width: 92px;
        height: 92px;
        border-radius: 50%;
        background: #989898;
        text-align: center;
        line-height: 92px;
        margin: 70px auto 0;
        span{
            font-size: 70px;
            color: #b0b0b0;
        }
    }
    p{  
        color: #b0b0b0;
        font-size: 16px;
        line-height:36px;
    }
}
//右边栏
.nav-left{
    width: 40px;
    background: yellow;
    position: absolute;
    bottom: 80px;
    right: 0;
    ul{
        li{
            height: 40px;
            text-align: center;
            line-height: 40px;
            a{
                font-size: 25px;
                color: #b0b0b0;
                &:hover{
                    color: #424242;
                }
            }
        }
        .returnTop{
            display: none;
        }
    }
}

//logo和搜索
.logo-search{
    width: 100%;
    min-width: 1200px;
    background: yellow;
    background: white;
    .container{
        width: 1200px;
        height:75px;
        // background: pink;
        margin: 0 auto;
        .logo{
            float: left;
            width: 195px;
            height: 30px;
            // background: greenyellow;
            margin: 25px 0 0 0;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .logo-search-nav{
            float: left;
            height: 75px;
            // background: skyblue;
            ul{
                margin: 0 0 0 30px;
                li{
                    float: left;
                    margin: 30px 24px 0 0;
                    a{
                        display: block;
                        width: 74px;
                        height: 24px;
                        font-size: 16px;
                        &:hover{
                            color: #cb141c;
                        }
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    } 
                }
                .Mate30{
                    margin: 24px 24px 0 0;
                    a{
                        width: 91px;
                        line-height: 40px;
                        &:hover{
                            color: #cb141c;
                            line-height: 40px;
                        }
                    }
                }
                .rongyaoV30{
                    margin: 24px 24px 0 0;
                    a{
                        width: 91px;
                        line-height: 40px;
                        &:hover{
                            color: #cb141c;
                            line-height: 40px;
                        }
                    }
                }
            }
        }
        .search{
            float: right;
            height: 75px;
            // background: purple;
            aside{
                margin: 25px 0 0 0;
                width: 318px;
                height: 30px;
                background: #f0f0f0;
                border-radius: 15px 15px 15px 15px;
                border: 2px solid #f0f0f0;
                input{
                    float: left;
                    border:none;
                    width: 274px;
                    height: 30px;
                    background: #f0f0f0;
                    border-radius: 15px 0 0 15px;
                    padding-left: 10px;
                }
                span{
                    cursor: pointer;
                    float: left;
                    width: 30px;
                    height: 30px;
                    background: #f0f0f0;
                    line-height: 28px;
                    font-size: 25px;
                    color: #424242;
                    border-radius: 0 15px 15px 0;
                }
                &:hover{
                    border: 2px solid #b0b0b0;
                    span{
                        color: #b0b0b0;
                    }
                }
            }
        }
    }
}


